body
{
    font-family: 'Montserrat', sans-serif;
    background-color: #C9ADA7

}

h1{
    font-family: 'Indie Flower', cursive;
}

header{
    position:sticky;
    text-align: center;
    background-color: #9A8C98;
    padding:20px

}


a:link {
    color:rgb(53,8,80);
}

a:visited {
    color: silver;
}


div > ul{
    list-style-type: none;
}

.Menu{
    text-align: center;
}

ul{
    color:teal
}

.pancake{
    float: right;
}

.div1{
    clear: left;
}

.belowpancake{
    clear: left;
}

.resto{
    display: block;
}